.alert-show #global-alert {
   animation: fadeIn 0.4s both;
}

@keyframes fadeIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.alert-hidden {
    display: none!important;
}