.link {
  color: #51c2d5;
  text-decoration: none;
  font-size: 18px;
}

.link:visited {
  color: #51c2d5;
}

.link:hover {
  color: #1687a7;
  text-decoration: underline;
}

.no-underline:hover {
  text-decoration: none;
}